.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 51px 89px;
}

.header-logo-img {
    display: block;
    width: 148px;
    height: 105px;
}

.header-links-list {
    display: flex;
    gap: 32px;
}

.header-links-list-item {
    list-style: circle;
}

.header-links-list-item-no-bullit {
    list-style: none;
}

.header-link {
    font-size: 18px;
    white-space: nowrap;
    text-underline-position: under;
}

.header-link-active {
    text-decoration: none;
}

.header-address {
    justify-self: end;
    font-style: inherit;
}

.address-text {
    font-size: 18px;
    line-height: 1.35;
}

.address-item {
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
}
